<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Lirans2341Project"
        tools:targetApi="31">
        <activity
            android:name=".screen.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".screen.ItemDetailsActivity"
            android:exported="false"
            android:parentActivityName=".screen.StoreActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".screen.StoreActivity" />
        </activity>
        <activity
            android:name=".screen.MyShopActivity"
            android:exported="false"
            android:parentActivityName=".screen.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".screen.MainActivity" />
        </activity>
        <activity
            android:name=".screen.UsersListActivity"
            android:exported="false"
            android:parentActivityName=".screen.AdminActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".screen.AdminActivity" />
        </activity>
        <activity
            android:name=".screen.UserProfileActivity"
            android:exported="false"
            android:parentActivityName=".screen.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".screen.MainActivity" />
        </activity>

        <activity
            android:name=".screen.LandingActivity"
            android:exported="false"
            android:parentActivityName=".screen.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".screen.MainActivity" />
        </activity>
        <activity
            android:name=".screen.AdminActivity"
            android:exported="false"
            android:parentActivityName=".screen.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".screen.MainActivity" />
        </activity>
        <activity
            android:name=".screen.AddItemActivity"
            android:exported="false"
            android:parentActivityName=".screen.MyShopActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".screen.MyShopActivity" />
        </activity>

        <activity
            android:name=".screen.CartDetailActivity"
            android:exported="false"
            android:parentActivityName=".screen.CartActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".screen.CartActivity" />
        </activity>
       
        <activity
            android:name=".screen.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".screen.CartActivity"
            android:exported="false"
            android:parentActivityName=".screen.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".screen.MainActivity" />
        </activity>

        <activity
            android:name=".screen.Login"
            android:exported="false"
            android:parentActivityName=".screen.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".screen.MainActivity" />
        </activity>
        <activity
            android:name=".screen.Register"
            android:exported="false"
            android:parentActivityName=".screen.Login">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".screen.Login" />
        </activity>
        <activity
            android:name=".screen.StoreActivity"
            android:exported="false"
            android:parentActivityName=".screen.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".screen.MainActivity" />
        </activity>
        <activity
            android:name=".screen.AboutActivity"
            android:exported="false"
            android:parentActivityName=".screen.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".screen.MainActivity" />
        </activity>
        <activity 
            android:name=".screen.PurchaseActivity"
            android:parentActivityName=".screen.CartActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".screen.CartActivity" />
        </activity>
        <activity 
            android:name=".screen.PurchaseConfirmationActivity"
            android:parentActivityName=".screen.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".screen.MainActivity" />
        </activity>
        <activity 
            android:name=".screen.EditItemActivity"
            android:parentActivityName=".screen.MyShopActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".screen.MyShopActivity" />
        </activity>
    </application>

</manifest>